@import "utilities.css";

.header {
    display: flex;
    /* justify-content: space-between;*/
    background-color: var(--secondary-color);
    color:var(--primary-color);
    align-items: center;
    flex-wrap: wrap;
    padding: 0.2rem;
    font-size:2rem;
    font-weight: bolder;
  }
  .header_nav {
    margin-left: auto;
    /* Instead of justify-content use margin-left */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* font-size: ; */
  }
  .user {
    display: flex;
    align-items: center;
  }
  
  .header_nav a {
    padding: 10px;
  }
  .no-link{
      color:var(--primary-color);
      font-size: 2rem;
  }
  .img {
    /* height: fit-content; */
    
    /* border-radius: 50%; */
    /* background-color: white; */
    /* margin-left: 10px; */
  }
  .home-text{
      /* margin: 5rem; */
      font-size: 2rem;
      flex-direction: column;
      align-items:flex-start;
      padding: 2rem;
      /* background-color: ; */
  }
  .grid-box{
      margin:10rem;
      grid-gap:10px;
  }
  .img-square{
      width:100%;
      height:auto;
  }

.grid-home{
    grid-gap:20rem;

}

  
.grid-container{
    display:grid;
    /* height:100vh; */
    grid-gap:10px; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header header"
        "nav main main main aside"
        "nav main main main aside"
        "nav main main main aside"
        "nav main main main aside"
        "nav main main main aside"
        "footer footer footer footer footer"
}
header{
    grid-area:header;
    display: flex;
    justify-content: space-between; 
}
aside{
    grid-area:aside;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area:footer;
}